.section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 24px;
  padding: 16px;
  min-height: 322px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
